<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Just Awesome</title>
  </head>
  <body>
   <header>Hi..there..current date is {{dt}}</header>
    <h1> You are in about page..</h1>
    <a href = '/home'>Go to home page.</a>
   {{> footer}}
  </body>
</html>
