<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Just Awesome</title>
  </head>
  <body>
   <header>Hi..there..current date is   {{dt}}</header>
    <h1> Welcome to the awesome website on the net..</h1>
    <a href = '/about'>Go to about page.</a>

    {{#each arr}}
       {{this}}
    {{/each}}

    {{> footer}} ..Yes
  </body>
</html>
